
<div class="container--home">
  <div class="row--home">
    <div class="col--home">
      <h1>Welcome to Garden Blooms</h1>
      <h2>Exploring Nature's Beauty, One Garden at a Time</h2>
      <%= link_to "Explore", {controller: "gardens", action: "index"}, class: "btn--home" %>
    </div>
  </div>
</div>
