<div class="about-section">
  <h1>Discover Garden Blooms</h1>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius sed ullam, sunt repudiandae illum doloribus fugit, eos nobis totam nulla ut alias harum dolores tempora quibusdam ex, perferendis et commodi.</p>
  <img src="https://images.unsplash.com/photo-1522613810462-c3506c272e79?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2970&q=80" alt="">
</div>
