.navbar {
  height: 12%;
  display: flex;
  align-items: center;
  background-color: rgb(247, 244, 168);
  padding: 12px;
  align-content: space-between;
  padding-left: 26px;
}
.logo {
  width: 60px;
  cursor: pointer;
}
nav {
  flex: 1;
  text-align: right;
  justify-content: flex-end;
  padding: 30px 140px 30px 30px;
  align-items: center;
  ul li {
    list-style: none;
    display: inline-block;
    margin-left: 60px;
  }
  a {
    text-decoration: none;
    color: rgb(36, 36, 36);
    font-size: 18px;
  }
}
