<div class="footer">
  <footer class="bg-light text-center text-lg-start">
    <div class="text-center p-3" style="background-color: #a5d4ae; color: #fff">
      © 2023 Copyright:
      <a href="/" style="color:#fff">Garden Blooms</a>
    </div>
  </footer>
</div>
